# Unit 8. 불과 비교,논리 연산자

In [11]:
korean, english, mathematics, science = map(int, input().split())
print(korean >=90 and english >80 and mathematics >85 and science >=80)

100 50 100 100
False

# Unit 9. 문자열

In [13]:
s = """'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively."""

print(s)

'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.

In [14]:
s = '''\'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.'''

print(s)

'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.

파이썬 상으로는 맞게 출력이 되는데 결과를 제출하면 자꾸 틀렸다고 나옵니다. 원인이 뭔지 모르겠습니다.

<이하 오답 사유>

-여러 줄로 된 문자열인데, 작은 따옴표와 큰 따옴표가 섞여 있습니다.

먼저 문자열 Python is a programming language that lets you work quickly and integrate systems more effectively.를 실행 결과에 맞게 엔터키로 줄바꿈을 해줍니다. 그리고 Python은 '(작은 따옴표)로 묶어주고, programming language는 "(큰 따옴표)로 묶어줍니다.

마지막으로 이 문자열 전체를 '''(작은따옴표 3개) 또는 """(큰 따옴표 3개)로 묶은 뒤 변수 s에 할당해주면 됩니다.

# Unit 10. 리스트와 튜플

In [21]:
a = list(range(-10,10,int(input())))
b= tuple(a)
print(b)

2
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

# Unit 11. 시퀀스(Sequence)

In [33]:
x = input().split()
del x[-5:]
y = tuple(x)
print(y)

1 2 3 4 5 6 7 8 9 10
('1', '2', '3', '4', '5')

In [45]:
a = input()
b = input()
c = a[1::2]
d = b[::2]
print(c+d)

apple
strawberry
plsrwer

# Unit 12. 딕셔너리

In [58]:
a = input().split()
b = map(float, input().split())
c = dict(zip(a, b))
print(c)

a b c d
1 2 3 4
{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0}

# Unit 13. If조건문

In [76]:
price = int(input())
b = input()
if b == 'Cash3000':
  price -= 3000
if b == 'Cash5000':
  price -= 5000
print(price)

27000
Cash3000
24000

# Unit 14. Else

In [101]:
korean, english, mathematics, science = map(int, input().split())
if 0 <= korean <= 100 and 0 <= english <= 100 and 0 <= mathematics <= 100 and 0 <= science <= 100:
  if (korean + english + mathematics + science) / 4 >= 80:
    print('합격')
  else:
    print('불합격')
else:
  print('잘못된 점수')

10 20 30 40
불합격