# Unit 10. 리스트와 듀플


*   []:리스트
*   ():듀플
*   {}:딕셔너리,세트(집합)
*   np []: 어레이

In [1]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

In [4]:
#파이썬에서는 리스트 엘리먼트가 다른 자료형도 가능
person = ['james', 19 ,175.4, True,[120, 80]] #남녀 묻는 질문 True
person

['james', 19, 175.4, True, [120, 80]]

In [9]:
#위의 person은 다음과 같은 딕셔너리로 변경하는 것을 권장
person_dict = {'name':'james', 'age':19 , 'height':175.4, 'is male':True, 'bp':[120, 80]}
person_dict
#여러 자료형을 쓸 땐 딕셔너리 사용 권장(의미를 알기 쉽게 하기 위해)
#딕셔너리는 순서가 보장되지 않는 리스트 형태 아래 출력값보면 abc순으로 임의 나열함/

{'age': 19, 'bp': [120, 80], 'height': 175.4, 'is male': True, 'name': 'james'}

## 빈 리스트 만들기

In [8]:
a = []
b = list()
a, b

([], [])

In [11]:
a, b = [], []
a, b
#빈 리스트를 여러개 만들때 이와 같이 한꺼번에 만드는게 조금 더 파이썬스러움

([], [])

### range
-range([시작숫자,] 끝나는 숫자+1 [ 증가분])
-꺽쇠가 포함된 것은 생략 가능하다는 의미
시작 숫자 생략시 기본 0에서 시작

In [12]:
a = range(10)
a

range(0, 10)

In [13]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
list(range(1,11))
#근데 이렇게 1에서부터 시작하는 일은 잘 없음
#0에서부터 시작하는 것에 익숙해져야~

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
#홀수 만들기(1에서 10까지 2씩 뛰어세는 수)
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [18]:
#짝수 만들기
list(range(2,11,2))

[2, 4, 6, 8, 10]

In [21]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 10.2 튜플(tuple)
read only 특성(변경불가)

In [22]:
a = (38, 21, 47)
a

(38, 21, 47)

In [25]:
a = 38, 21, 47
a
#comma로 쭉 나열하기만 해도 된다(이게 큐플)
#그동안 a,b설정하고 출력하기 위해 a,b이렇게 썼던 것도 다 큐플임

(38, 21, 47)

In [28]:
a = tuple()
a
#빈 튜플 만들기 가능/근데 만드는게 의미가 없음
#리스트는 빈 리스트를 만든 후 계속 채워나갈 수 가 있는데 튜플은 변경이 안되기 때문에 의미가 없음

()

In [31]:
#a는 정수
a = (38)
a

38

In [34]:
#a는 튜플(원소가 하나인 튜플)
a = (38,)
a

(38,)

In [35]:
tuple(range(5))

(0, 1, 2, 3, 4)

###리스트 <-> 튜플

In [39]:
#리스트에서 튜플로
a = [1, 3, 4]
b=tuple(a)
b

(1, 3, 4)

In [40]:
#튜플에서 리스트로
c = list(b)
c

[1, 3, 4]

In [41]:
x = 10
tuple(x)

TypeError: ignored

###문자열

In [43]:
tuple('Hello!')

('H', 'e', 'l', 'l', 'o', '!')

In [44]:
list('안녕하세요')

['안', '녕', '하', '세', '요']

### 언팩킹(Unpacking)

In [47]:
a = (1, 3, 4)
x, y, z = a
x, y, z
#x=1,y=3,z=4가 됨
#엘리먼트의 개수가 맞으면 큐플은 각각 하나씩만 넘겨줄 수 있음

(1, 3, 4)

In [49]:
#list unpacking
x, y, z = [1, 3, 5]
x, y, z

(1, 3, 5)

In [52]:
#튜플 언팩킹
x, y, z = 1, 3, 5
x, y, z

(1, 3, 5)